* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.nav-title {
    font-size: 22px;
    font-weight: bold;
}
.btn-signin {
    color: #1a6b4a;
    border-color: #1a6b4a;
    padding: 10px 25px;
    border: 1px solid #333;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-size: 16px;
}

/* BANNER */
.banner {
    background-color: #d4f0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}
.banner-subtitle {
    color: #555;
    margin-bottom: 10px;
}
.banner-title {
    font-size: 38px;
    font-weight: bold;
    max-width: 500px;
    margin-bottom: 30px;
    line-height: 1.3;
}
.btn-primary {
    background-color: #1a6b4a;
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.banner {
    background-color: #d4f0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    margin: 0 40px;
    border-radius: 20px;
}


.banner img {
    width: 400px;
    max-width: 45%;
}
/*second page*/
.pillars-section{
    padding: 60px;
}
.pillars-title{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}
.second{
    display: flex;
    gap: 20px;
}
.second-bar {
    flex: 1;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 25px;
    border-radius:10%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.second-bar img {
    width: 45px;
    margin-bottom: 15px;
}
.second-h {
    font-size: 18px;
    margin-bottom: 10px;
}
.second-p {
    color: #666;
    font-size: 14px;
}